:local(.wrapper) {
  padding: 20px;
  width: 70px;
  overflow: visible;
}

:local(.shape) {
  border-radius: 50px;
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
  background-color: #EE9E3A;
  z-index: 1;
  border: 2px solid #FEAE4A;

  &:hover {
    z-index: 20;
  }
}

:local(.value) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 48px;
  font-weight: 500;
  color: #D43838;
}

:local(.ammount) {
  margin-left: 40px;
}
