@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,500);

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

span,
div{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

:local(.wrapper) {
}

:local(.appReset) {
  text-align: center;
  background-color: #fff;
}

:local(.productsWrapper) {
  background-color: #3A5F92
}
